<div class="mega-menu">
  <div class="mega-menu__inner">
    {% for childlink in link.links %}
      <div class="mega-menu__column">
        <h3 class="mega-menu__title">{{ childlink.title }}</h3>
        {% if childlink.links != blank %}
          <ul class="mega-menu__list">
            {% for grandchildlink in childlink.links %}
              <li class="mega-menu__item">
                <a href="{{ grandchildlink.url }}" class="mega-menu__link">{{ grandchildlink.title }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    
    {% if section.settings.mega_menu_image != blank %}
      <div class="mega-menu__featured">
        <img src="{{ section.settings.mega_menu_image | img_url: '300x300', crop: 'center' }}" 
             alt="{{ section.settings.mega_menu_image.alt | escape }}"
             width="300"
             height="300"
             loading="lazy">
        {% if section.settings.mega_menu_cta_text != blank and section.settings.mega_menu_cta_link != blank %}
          <a href="{{ section.settings.mega_menu_cta_link }}" class="mega-menu__cta">
            {{ section.settings.mega_menu_cta_text }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
